<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flaus.susea">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StartActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TestActivity" />
        <activity
            android:name=".TypActivity"
            android:parentActivityName=".StartActivity"
            />
        <activity android:name=".AuswertungsActivities.AuswertungStudieActivity" />
        <activity android:name=".ListViewActivities.ListViewTestsActivity"
            android:parentActivityName=".AuswertungsActivities.AuswertungStudieActivity"/>
        <activity
            android:name=".ListViewActivities.ListViewStudienActivity"
            android:parentActivityName=".StartActivity" />
        <activity
            android:name=".AuswertungsActivities.AuswertungTestActivity"
            android:parentActivityName=".ListViewActivities.ListViewTestsActivity"
            android:theme="@style/Campusboard" />
        <activity android:name=".StatistikAuswertung"
            android:parentActivityName=".AuswertungsActivities.AuswertungStudieActivity"></activity>
    </application>

</manifest>